In [50]:
import os
import pandas as pd
import openpyxl

#Importar o ficheiro Transportes

In [51]:

import os
import pandas as pd

# Caminho da pasta 
folder_path = os.path.join(os.path.expanduser("~"), "Desktop", "New folder")

# Obter o primeiro ficheiro encontrado na pasta
files = os.listdir(folder_path)
if not files:
    raise FileNotFoundError("Nenhum ficheiro encontrado na pasta.")

file_path = os.path.join(folder_path, files[0])
print(f"A abrir ficheiro: {file_path}")

ext = os.path.splitext(file_path)[1].lower()

if ext in [".csv", ".txt"]:
    df_transportes = pd.read_csv(file_path)
elif ext in [".xls", ".xlsx"]:
    df_transportes = pd.read_excel(file_path)
else:
    raise ValueError(f"Formato de ficheiro não suportado: {ext}")

A abrir ficheiro: C:\Users\1420844\Desktop\New folder\Estrutura Carreiras.xlsx

In [52]:
df_transportes

,Carreira,Codigo,N.ºPar,HPC,HPP,TP,TT,Km,VM,Ponto,...,Periodicidade,Região,GE Origem,GE Destino,Transportador,Veículo,Ponto.1,Latitude,Longitude,GE da Paragem
0,Carreira,141250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2ª a 6ª Feira,OPE/OPE,OPE,OLX,Transruels,90m3,Transruels,NaN,NaN,NaN
1,Designação,CON / COS L02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2ª a 6ª Feira,OPE/OPE,OPE,OLX,Transruels,90m3,Transruels,NaN,NaN,NaN
2,Periodicidade,2ª a 6ª Feira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2ª a 6ª Feira,OPE/OPE,OPE,OLX,Transruels,90m3,Transruels,NaN,NaN,NaN
3,Transportador,Transruels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2ª a 6ª Feira,OPE/OPE,OPE,OLX,Transruels,90m3,Transruels,NaN,NaN,NaN
4,Viatura,90m3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2ª a 6ª Feira,OPE/OPE,OPE,OLX,Transruels,90m3,Transruels,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Código,Designação,N.ºPar,HPC,HPP,TP,TT,Km,VM,Ponto,...,3ª a 6ª Feira,OCS/Lisboa,Lisboa,Porto,CTT,15m3,EV1,NaN,NaN,NaN
179,1360,CPL-S,1,00:05,00:20,15,0,0,0,EV1,...,3ª a 6ª Feira,OCS/Lisboa,Lisboa,Porto,CTT,15m3,EV1,38.754594,-9.106139,Lisboa
180,9844,PAT FATIMA (saida A1 rotunda Norte),2,01:30,01:35,5,70,121,104,"EV1, Ponto 42",...,3ª a 6ª Feira,OCS/Lisboa,Lisboa,Porto,CTT,15m3,"EV1, Ponto 42",39.634533,-8.683858,Coimbra
181,1356,CPL-N,3,03:30,03:35,5,115,204,106,Ponto 42,...,3ª a 6ª Feira,OCS/Lisboa,Lisboa,Porto,CTT,15m3,Ponto 42,41.247900,-8.628422,Porto
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3ª a 6ª Feira,OCS/Lisboa,Lisboa,Porto,CTT,15m3,Ponto 42,NaN,NaN,NaN

#Importar modelo Portal

In [53]:

import os
import pandas as pd

# Caminho da pasta 
folder_path = os.path.join(os.path.expanduser("~"), "Desktop", "New folder (2)")

# Obter o primeiro ficheiro encontrado na pasta
files = os.listdir(folder_path)
if not files:
    raise FileNotFoundError("Nenhum ficheiro encontrado na pasta.")

file_path = os.path.join(folder_path, files[0])
print(f"A abrir ficheiro: {file_path}")

# Ler todas as folhas do Excel
df_portal = pd.read_excel(file_path, sheet_name=None)  # None -> lê todas as sheets

sheet_names = pd.ExcelFile(file_path).sheet_names




# Detectar extensão e abrir no Pandas
ext = os.path.splitext(file_path)[1].lower()

if ext in [".csv", ".txt"]:
    df_portal = pd.read_csv(file_path)
elif ext in [".xls", ".xlsx"]:
    df_portal = pd.read_excel(file_path)
else:
    raise ValueError(f"Formato de ficheiro não suportado: {ext}")

A abrir ficheiro: C:\Users\1420844\Desktop\New folder (2)\Linehaul PT - Plantilla Carga - Rutas, Trayectos, Paradas_Base de produção 6_8_2024.xlsx

In [54]:
# Imprimir nomes
print("Folhas no ficheiro:")
for name in sheet_names:
    print("-", name)

Folhas no ficheiro:
- Rutas
- trayect
- paradas

In [55]:
# Ler apenas a folha "Rutas"
df_portal_Rutas = pd.read_excel(file_path, sheet_name="Rutas")
df_portal_Rutas_empty = pd.DataFrame(columns=df_portal_Rutas.columns)
df_portal_Rutas.head(1)

,Name,Category__c,Area__c,Capacity__c,Execution_Mode__c,Observations__c,Operational_Center_Agency__r.Name,Operational_Center_Agency__c,Periodicity__c,Provider__r.Name,...,MMA__c,Payload__c,Number_Of_pallets__c,SemiTruck__c,Vehicle_Type__c,Pay_Way__c,contract_start_day__c,route_start_day__c,delivery_senda__c,RecordTypeId
0,EPA 14,Primary,Nacional,Heavy,Rigid,Toda la ruta se encuentra en horas locales.,C.O. Rutas Nacionales,RNA,Fixed,CTT - Correios de Portugal S.A,...,20000,5000,16.0,False,Rigid,Transfer_65,2024-07-12,2024-07-12,False,0123X000000eQqAQAU

In [56]:
# Ler apenas a folha "trayect"
df_portal_trayect = pd.read_excel(file_path, sheet_name="trayect")
df_portal_trayect_empty = pd.DataFrame(columns=df_portal_trayect.columns)
df_portal_trayect.head(1)

,Name,Parent_Service__r.Name,Observations__c,Cost_Center__c,Category__c,Area__c,Capacity__c,Execution_Mode__c,National_Route_Type__c,Zone__c,...,Number_Of_pallets__c,SemiTruck__c,Pay_Way__c,contracted_tons__c,cost_euro_kg__c,cost_euro_ton__c,euros_tn_km__c,tn_km_contractet__c,total_amount_day__c,RecordTypeId
0,EPA 14_0,EPA 14,NaN,6161136.0,Primary,Nacional,Heavy,Rigid,Fixed,Sur,...,16.0,False,Transfer_65,5.0,0.06,60.0,27.272727,55.0,300,0123X000000SM4SQAW

In [57]:
# Ler apenas a folha "Rutas"
df_portal_paradas = pd.read_excel(file_path, sheet_name="paradas")
df_portal_paradas_empty = pd.DataFrame(columns=df_portal_trayect.columns)
df_portal_paradas.head(1)

,Name,Service__r.Name,Service__r.Service_Code__c,Service__c,Ratio__c,Access_Conditions__c,Allowed_Access_Vehicle_Type__c,Actual_Arrival_Time__c,Actual_Departure_Time__c,Day__c,...,Kilometer__c,Operative_Center__r.Name,Operative_Center__c,Order__c,Operative_Center_Province__c,Load_Centers__c,Load_Order__c,Unload_Centers__c,Unload_Order__c,RecordType.DeveloperName
0,Cpls Sul,EPA 14_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,15,Cpls Sul,8811360,1,SLX,EPA - AEROPORTO LISBOA,1309,NaN,NaN,Loading_Plan